body {
  background: linear-gradient(70deg, rgb(62, 61, 61), rgb(43, 43, 43));
  margin: 0;
  padding: 0;
}

header nav {
  position: relative;
  right: 25px;
}

#page_logo {
    color: rgb(151, 184, 245);
}

header ul a {
    color: rgb(151, 184, 245);
    margin: 5px 15px;
}

.header_link:hover {
    background-color: rgb(151, 184, 245);
    color: black;
}

main ul img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

main ul {
  list-style: none;
  max-width: 1200px;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding: 0 0 40px 0;
  margin: 40px auto;
}

/* li:nth-of-type(3) {
  grid-column: 1 / span 2;
} */

main li {
  display: flex;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

.item-content {
  padding: 0 15px;
  color: rgba(62, 62, 62, 0.961);
  display: flex;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.actions a {
  width: 75px;
  color: rgb(66, 180, 251);
  margin: 10px 0;
}

.actions a:hover {
  background-color: rgb(160, 226, 248);
  color: rgb(92, 92, 92);
  border-radius: 8px;
}

/* Media Queries for Responsiveness */

/* Tablet and smaller screens */
@media (max-width: 992px) {
  main ul {
    grid-template-columns: 1fr;
    max-width: 700px;
  }
}

/* Mobile screens */
@media (max-width: 600px) {
  main ul {
    width: 92%;
    gap: 20px;
  }

  main li {
    flex-direction: column;
  }

  main ul img {
    width: 100%;
    height: 200px;
  }

  .item-content {
    padding: 15px;
    flex-direction: column;
  }

  .actions {
    margin-top: 15px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .actions a {
    margin: 0;
  }
}
